@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070707;
  color: white;
}

.line-animation {
  width: 100%;
  height: 2px;
  background-color: black;
  position: relative;
  overflow: hidden;
}

/* Definir a animação */
@keyframes lineAnimation {
  0% {
    left: 100%;
    width: 0;
  }

  100% {
    left: 0;
    width: 100%;
  }
}

/* Aplicar a animação à linha somente no hover */
.line-animation:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: lineAnimation 2s linear infinite;
}

strong {
  position: relative;
  width: max-content;
  padding: 0px 4px;
  font-weight: 500;
}

strong::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: -0.5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #db2777;
}

.arrow-animation > *:nth-child(2) {
  transform-origin: center bottom;
  transition: transform 0.3s ease;
}


.arrow-animation:hover > *:nth-child(2),
.arrow-animation:focus > *:nth-child(2) {
  transform: translateX(5px);
}

