a.navLink {
  text-decoration: none;
  color: white;
  position: relative;
}

a.navLink::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #f02d3a;
  transition: width 0.4s ease-in-out, right 0.4s ease-in-out;
}

a.navLink:hover::after,
a.navLink:focus::after {
  width: 100%;
  right: auto;
  left: 0;
  transition: width 0.4s ease-in-out, right 0.4s ease-in-out;
}
